bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
app.db-shm
app.db-wal
appsettings.json
appsettings.Development.json
.idea/
# Local database file
app.db
# Config
Configuration.cs

# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/.idea.Unstore.iml
/contentModel.xml
# Ignored default folder with query files
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/